<mat-toolbar role="navigation">
  <img src="../../../assets/images/AMALITECH.png" alt="" />
  <ul>
    <li class="add">
      <mat-icon
        (click)="createPortfolio()"
        routerLinkActive="router-link-active"
        >add</mat-icon
      >
    </li>
    <li class="accounts" [matMenuTriggerFor]="profile">
      <mat-icon *ngIf="!user">person</mat-icon>
      <span *ngIf="user" class="user">
        {{ user }}
      </span>
    </li>
    <li class="add">
      <mat-menu #profile="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>arrow_backward</mat-icon>
          sign out
        </button>
        <button mat-menu-item>
          <mat-item routerLink="/accounts/login">
            <mat-icon>arrow_forward</mat-icon>
            login
          </mat-item>
        </button>
        <button mat-menu-item>
          <mat-item routerLink="/accounts/signup">
            <mat-icon>group_add</mat-icon>
            signup
          </mat-item>
        </button>
      </mat-menu>
    </li>
    <li>
      <mat-icon>notifications</mat-icon>
    </li>
  </ul>
</mat-toolbar>
