<main>
  <mat-icon class="arrow" (click)="back()">
    arrow_back_ios
  </mat-icon>
  <article *ngIf="trainee">
    <section class="img-holder">
      <figure class="pics">
        <img src="../../../assets/images/portfolio/200X200.jpg" alt="" />
      </figure>
      <aside class="info">
        <p class="p1">
          THIS IS
          <span class="offwhite">
            {{ trainee.first_name.toUpperCase() }}
            {{ trainee.last_name.toUpperCase() }} </span
          >, PROFICIENT IN
        </p>
        <span class="p2">
          <p class="offwhite">{{ trainee.skills.toUpperCase() }} &</p>
          <p class="green">{{ trainee.certifications }}</p>
        </span>
        <span class="p3">PORTFOLIO</span>
      </aside>
    </section>
    <section class="text">
      <div class="box">
        <mat-icon>settings</mat-icon>
        <h3>JavaScript</h3>
        <div class="skill-set-container skills-text">
          <div class="js">90%</div>
        </div>
      </div>
      <div class="box">
        <mat-icon>settings</mat-icon>
        <h3>JavaScript</h3>
        <div class="skill-set-container skills-text">
          <div class="python">75%</div>
        </div>
      </div>
      <div class="box">
        <mat-icon>settings</mat-icon>
        <h3>JavaScript</h3>
        <div class="skill-set-container skills-text">
          <div class="react">90%</div>
        </div>
      </div>
      <div class="box">
        <mat-icon>settings</mat-icon>
        <h3>JavaScript</h3>
        <div class="skill-set-container skills-text">
          <div class="java">50%</div>
        </div>
      </div>
    </section>
  </article>
</main>
